* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

:root {
  --bg-color: #f8f6f0;
  --text-color: #444;
  --button-color: #279;
  --button-color-sh: rgb(15, 61, 80);
}

#signature {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 10px;
}

body {
  background-color: var(--bg-color);
  font-size: 20px;
  color: var(--text-color);
  font-weight: 300;
  text-align: center;
  margin: 20px auto;
  width: 90%;
}

@media (min-width: 576px) {  
  body { width: 576px;}
}

#quiz-header {
  background-color: var(--button-color);
  color: var(--bg-color); 
  padding: 20px;
}

.slide, #results {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

.quiz-container {
  position: relative;
  height: 450px;
  margin-top: 40px;
}

h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  margin: 0;
  /*TODO COLORS*/
}

h2 {
  font-style: normal;
  font-weight: 250;
  font-size: 25px;
  /*TODO COLORS*/
}

h3 {
  font-style: normal;
  font-weight: 250;
  font-size: 23px;
}

p{
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  text-align: center;
  

  /*width: 360px;*/
  color: var(--text-color);
}

.question{
  font-size: 30px;
  margin-bottom: 10px;
}

.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}

.answers input[type="radio"]{
  display:none;
}

.answers label {
  display: block;
  margin-bottom: 10px;
  background-color: #ddd;
  padding: 4px 11px;
  font-size: 23px;
  cursor: pointer;
}

.answers input[type="radio"]:checked+label{
  background-color: #bbb;
}


button {
  display: none;

  background-color: var(--button-color);
  box-shadow: 10px 10px 0px var(--button-color-sh);
  

  color: #FFF;
  font-size: 36px;
  line-height: 50px;
  padding: 0px 20px;
  text-align: center;
}

input[type="submit"] {
  background-color: var(--button-color);
  box-shadow: 10px 10px 0px var(--button-color-sh);
  color: #FFF;
  font-size: 36px;
  line-height: 50px;
  padding: 0px 20px;
  text-align: center;
}

input[type="email"]{
  width: 300px;
  font-size: 1.3em;
  margin: 1.3em;
}

button #retry {
  display:none;
}

button:hover{
  background: var(--button-color-sh);
}

button:focus{
  border: none;
  outline: 0;
}